/* General Styles */
body {
    font-family: "Exo", sans-serif;
}

.bg-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
    background-color: #000000;
}

.bg-dark {
    background-color: #0f1120 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.rounded {
    border-radius: 1rem !important;
}

.header-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.navbar-absolute-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    display: block;
    z-index: 99;
}

.navbar2 {
    display: block;
    z-index: 99;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1); /* Full white for better contrast */
    
    font-weight: 600;
}

.navbar-nav-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
}

.navbar-nav-wrap .navbar-toggler {
    margin-left: auto;
}

.navbar-brand-logo {
    width: 100%;
    min-width: 10rem;
    max-width: 10rem;
}

.zi-2 {
    z-index: 2 !important;
}

.content-space {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.hero {
    padding-top: 7rem !important;
    padding-bottom: 5rem !important;
    position: relative; /* Ensure the hero section's content is properly positioned */
    z-index: 1; /* Ensure the hero section is below the navbar */
    height: 35vh; /* Default height for large screens */
    background-size: cover;
    background-position: 30%;
}

/* Media Queries */
/* Large screens (1440px and above) */
@media (max-width: 1540px) {
    .custom-hero {
        height: 48vh; /* Slightly taller for medium-large screens */
    }
}

/* Medium screens (1000px to 1440px) */
@media (max-width: 1200px) {
    .custom-hero {
        height: 53vh; /* Taller for medium screens */
    }
}

/* Small screens (768px to 1000px) */
@media (max-width: 1000px) {
    .custom-hero {
        height: 55vh; /* Taller for small-medium screens */
    }
}

/* Extra small screens (480px to 768px) */
@media (max-width: 768px) {
    .custom-hero {
        height: 60vh; /* Taller for extra small screens */
    }
}

/* Very small screens (below 480px) */
@media (max-width: 480px) {
    .custom-hero {
        height: 60vh; /* Tallest for very small screens */
        background-position: center top; /* Adjust background position for better visibility */
    }
}

.card-body p {
    margin-bottom: 0;
}

.card-footer {
    border-top-width: 0;
    background: none;
}

.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.nav-segment {
    position: relative;
    background-color: #f8f9fa;
    padding: .25rem .25rem;
    border-radius: .5rem;
}

.nav-fill .nav-item, .nav-fill > .nav-link {
    flex: 1 1 auto;
    text-align: center;
}

.nav-segment .nav-link {
    font-size: .8125rem;
    padding: .5rem .8125rem;
    border-radius: .5rem;
}

.nav-segment .nav-link.active {
    background-color: #fff;
    box-shadow: 0 .1875rem .375rem 0 rgba(140, 152, 164, .25);
}

.nav-tabs {
    padding-bottom: .125rem;
}

/* Card Styles */
.card {
    border-radius: 1rem;
}
